#serverFilesDlg {
    width: 70rem;
    height: 100vh;
}

#serverFilesDlg .dlg-body {
    display: flex;
    flex-flow: row wrap;
    gap: 0 10px;
    align-content: flex-start;
}

#serverFilesDlg .cur-dir {
    font-family: var(--fontFamily_ui);
    font-size: 1.2rem;
    text-align: left;
    padding-left: 2rem;
}

#serverFilesDlg .item {
    cursor: pointer;
    border: 1px gray dotted;
    margin: 5px 0;
    padding: 5px;
    width: 30rem;
    height: fit-content;
}

#serverFilesDlg .item:hover {
    outline: 2px solid var(--mainColor_focused);
}

#serverFilesDlg .up-level {
    color: black;
    background-color: darkgray;
}

.bookshelf {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    font-family: var(--fontFamily_ui);
    font-size: 1.2rem;
    background: var(--bgColor);
    color: var(--ui_foreColor);
    display: grid;
    grid-template-rows: max-content 1fr;
    z-index: 2000;
}

.bookshelf .title {
    padding: 0.5rem 0;
    font-size: 1.6rem;
    font-family: title;
    text-align: center;
    overflow: hidden;
    border-bottom: 2px solid var(--borderColor);
}

.bookshelf .sub-title {
    color: var(--fontInfoColor);
    font-family: var(--fontFamily_ui);;
    font-size: 1rem;
}

.bookshelf .book-list {
    display: block;
    margin: 0.2rem 0;
    overflow-y: auto;
    scrollbar-gutter: stable both-edges;
    scrollbar-width: thin;
    /* text-align: center; */
    /* 避开 btn-group */
    padding-right: 4rem;
    display: flex;
    flex-flow:row wrap;
    align-content: flex-start;
    gap: 2rem;
}

.bookshelf .book {
    position: relative;
    display: inline-grid;
    grid-template-rows: 1fr max-content;
    color: var(--ui_foreColor);
}

.bookshelf .book .btn-bar {
    position: absolute;
    width: 10rem;
    height: 1.5rem;
    line-height: 1.5rem;
    background-color: var(--layerBgColor);
    opacity: 0.5;
    visibility: hidden;
    z-index: 2;
}

.bookshelf .book:hover .btn-bar {
    visibility: visible;
}

.bookshelf .book .delete-btn {
    color: var(--fontColor);
    font-family: title;
    display: block;
    float: right;
    cursor: pointer;
    font-size: 1.5rem;
    line-height: 1.2rem;
    margin-right: 3px;
}

.bookshelf .book .cover {
    width: 10rem;
    height: 15rem;
    overflow-y: auto;
    cursor: pointer;
    display: grid;
    grid-template-rows: auto auto;
    font-size: var(--cover-font-size, 1.6rem);
    --cover-mask: linear-gradient(to right, rgba(0,0,0,0.5), transparent 2%, transparent 4%, rgba(0,0,0,0.5) 5%, transparent 6%, transparent 99%, rgba(0,0,0,0.5));
}

.bookshelf .book:hover .cover {
    box-shadow: var(--shadow_args);
    -webkit-box-shadow: var(--webkit-shadow_args);
    -moz-box-shadow: var(--moz-shadow_args);
    z-index: 1;
}

.bookshelf .book .cover .bookname {
    border-radius: 3px 5px 0 0;
    padding: 1.5rem 10px 0 10px;
    text-align: center;
    overflow-wrap: anywhere;
    font-family: var(--fontFamily_title);
    color: var(--bgColor);
    background-color: var(--mainColor_focused);
    background-image: var(--cover-mask);
}

.bookshelf .book .cover .author {
    border-radius: 0 0 5px 3px;
    padding: 5px 10px;
    text-align: center;
    font-family: var(--fontFamily_body);
    font-size: 0.8em;
    color: var(--ui_foreColor);
    background-color: var(--mainColor);
    background-image: var(--cover-mask);
}

.bookshelf .book .size {
    float: right;
    color: var(--ui_foreColor);
    font-size: 0.9rem;
    text-align: right;
    padding-right: 5px;
}

.bookshelf .book .progress {
    color: var(--ui_foreColor);
    text-align: left;
    font-size: 0.9rem;
    /* margin-top: 1px; */
    background-color: var(--bgColor);
}

#serverFilesDlg .book.read,
.bookshelf .book.read .progress1 {
    background-image: linear-gradient(to right, var(--mainColor) var(--read-progress), transparent 0);
}

#progressDlg {
    width: 60rem;
    height: 100vh;
}

#progressDlg .progress-list {
    overflow-y: scroll;
    display: grid;
    grid-gap: 0.5rem 0.5rem;
    grid-template-columns: 1fr repeat(2, max-content);
    grid-auto-rows: max-content;
}

#progressDlg .progress-list div {
    height: 1.8rem;
    padding: 0 5px;
    border-bottom: 1px dotted gray;
}

#progressDlg .progress-list .eq {
    display: none;
    color: grey;
}

#progressDlg .progress-list .prog-server,
#progressDlg .progress-list .prog-local {
    text-align: right;
    font-size: 80%;
}
