/* General UI */
body {
    font-size: 100% !important;
    background-color: var(--bgColor) !important;
    scrollbar-color: var(--fontInfoColor) var(--bgColor) !important;
    /* transition: var(--darkMode_animation); */
    overflow: hidden;
}
::-webkit-scrollbar {
    width: 14px;
    background: var(--bgColor) !important;
    transition: var(--darkMode_animation);
}
::-webkit-scrollbar-thumb {
    border: 4px solid var(--bgColor);
    background-clip: padding-box;
    border-radius: 10px;
    background: var(--fontInfoColor) !important;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    /* transition: var(--darkMode_animation); */
}

.layer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
}

.active {
    font-weight: normal;
}
.center {
    text-align: center;
}
.uifont {
    font-family: var(--fontFamily_ui);
    color: var(--mainColor);
}
.prevent-select {
    -webkit-touch-callout : none;     /* iOS Safari */
    -webkit-user-select   : none;     /* Chrome/Safari/Opera */
    -khtml-user-select    : none;     /* Konqueror */
    -moz-user-select      : none;     /* Firefox */
    -ms-user-select       : none;     /* Internet Explorer/Edge */
    user-select: none; /* Standard syntax */
}
.no-interact {
    pointer-events: none;
}
.interact {
    pointer-events: auto;
}
/* 
Credit: https://stackoverflow.com/questions/64997928/how-to-offset-a-anchor-link-to-clear-fixed-header
To Offset the anchor link to clear fixed header
 */
/* :target:before {
    content: "";
    display: block;
    height: var(--ui_anchorTargetBefore);
    margin: calc(-1*var(--ui_anchorTargetBefore)) 0 0;
} */

/* Main content */
.content-layer {
    display: block;
    overflow-y: auto;
    scroll-behavior: smooth;
    justify-content: center;
    background-color: var(--bgColor);
}
#content {
    box-sizing: border-box;
    /* position: relative;
    margin: 0 auto; */
    position: absolute;
    right: calc(50% - var(--ui_contentWidth) / 2);
    width: var(--ui_contentWidth);
    height: 100%;
    overflow-x: hidden;
    background-color: var(--bgColor);
}


/* Drop Zone */
#dropZone {
    background: var(--bgColor);
    border: 0.5em dashed var(--mainColor);
    border-radius: 16px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
#dropZoneText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    -webkit-transform: translate(-50%, 20%);
    margin: auto;
    font-size: 5em;
}
#dropZoneImg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    -webkit-transform: translate(-50%, -70%);
    margin: auto;
    width: var(--ui_dropZoneImgSize);
    height: var(--ui_dropZoneImgSize);
    /* convert to var(--mainColor_focused) */
    /* filter: var(--mainColor_focused_filter); */
    /* convert to var(--mainColor) */
    filter: var(--mainColor_filter);
}


/* Loading screen */
#loading {
    background: var(--bgColor);
}
#loading img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: var(--ui_loadingImgSize);
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    filter: var(--mainColor_filter);
}


/* Pagination */
#pagination {
    position: fixed;
    bottom: 30px;
    left: 50%;
    background-color: var(--bgColor);
    border: 1px dashed var(--borderColor);
    border-radius: 8px;
    box-shadow: var(--shadowV_args);
    -webkit-box-shadow: var(--webkit-shadowV_args);
    -moz-box-shadow: var(--moz-shadowV_args);
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
    font-size: 0.9em;
}
.pagination {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pagination li {
    margin: 0 5px;
}
.pagination a {
    color: var(--paginationFontColor);
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}
.pagination a.active {
    background-color: var(--mainColor_focused);
    color: var(--paginationActiveFontColor);
    border-radius: 5px;
}
.pagination a:hover:not(.active) {
    background-color: var(--mainColor);
    color: var(--paginationActiveFontColor);
    border-radius: 5px;
}
#pagination:hover {
    opacity: 1;
}
.jumpInput {
    color: black;
    border:0;
    background-color: var(--bgColor) !important;
}
.disabledbutton {
    pointer-events: none;
    opacity: 0.4;
}


/* TOC */
.toc-panel {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    max-width: 50vw;
    width: max-content;
    padding: 0 1rem;
    display: grid;
    grid-template-rows: max-content 1fr max-content;
    background-color: var(--bgColor);
    transition: box-shadow 1s, -webkit-box-shadow 1s, -moz-box-shadow 1s;
    --toc-full-vis: hidden;
    --toc-full-opacity: 0;
}
.toc-panel:hover {
    z-index: 1;
    border-right: 1px solid var(--borderColor);
    box-shadow:var(--shadowH_args);
    -webkit-box-shadow: var(--webkit-shadowH_args);
    -moz-box-shadow: var(--moz-shadowH_args);
    --toc-full-vis: visible;
    --toc-full-opacity: 1;
}
.toc-hint {
    height: fit-content;
    font-family: var(--fontFamily_ui);
    font-size: 0.8rem;
    color: var(--fontInfoColor);
    display: grid;
    grid-gap:  0.3rem 1rem;
    grid-template-columns: max-content max-content max-content max-content;
    align-self: center;
    margin: 1rem 0;
    visibility: var(--toc-full-vis);
    opacity: var(--toc-full-opacity);
    transition: opacity 1s;
}
#tocContent {
    height: var(--ui_tocHeight);
    scroll-behavior: smooth;
    position: relative;
    line-height: 1em;
    font-size: 1em;
    overflow-y: scroll;
    font-family:var(--fontFamily_title);
    padding: 1rem 0;
    display: grid;
    grid-auto-rows: max-content;
    grid-template-columns: max-content max-content;
    align-items: center;
    /* align-self: center; */
}
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
/* Credit: https://stackoverflow.com/questions/3874602/elements-to-look-like-a-bullet-point-list-inside-an-anchor-link */
.toc-bullet {
    background-color: var(--fontInfoColor);
    border-radius: 1em;
    content: " ";
    display: inline-block;
    width: 0.9em;
    height: 0.3em;
    visibility: visible !important;
    opacity: 1 !important;
    margin-top: 0.3rem;
    margin-bottom: 1.3em;
}
.toc-text {
    display: inline-block;
    max-width: calc(50vw - 0.9em - 1em - 1rem);      /* 100% - width of .toc-bullet - margin-left of <a>*/
    width: fit-content;
    transition: visibility 1s, opacity 1s;
    visibility: var(--toc-full-vis);
    opacity: var(--toc-full-opacity);
    text-decoration: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-right: 5px;
}
/* Credit: https://www.taccgl.org/blog/css-transition-visibility.html */
#tocPanel:hover .toc-text {
    /* visibility: visible; */
    /* opacity: 1; */
}
a, a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}
a.title, a.title:link, a.title:visited {
    color: var(--mainColor_focused);
}
a.toc-text, a.toc-text:link, a.toc-text:visited {
    color: var(--fontInfoColor);
    margin: 0.3em 5px 1.3em 1em;
}
a.toc-text:hover {
    color: var(--mainColor);
}
a.toc-active {
    font-weight: bold;
    color: var(--mainColor_focused) !important;
    visibility: visible !important;
    opacity: 1 !important;
}
.toc-bullet.toc-active {
    background-color: var(--mainColor_focused) !important;
}
a.toc-active::before {
    background-color: var(--mainColor_focused) !important;
}


/* Progress */
#progress {
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 3.6rem;
    color: var(--fontInfoColor);
    font-size: 0.8rem;
}

/* vertical progress bar */
.progress-bar {
    position: fixed;
    width: 95vh;
    right: calc(50% - var(--ui_contentWidth) / 2 - 2rem);
    top: 1vh;
    transform: rotate(90deg) translateX(50%) translateY(-45vh);
    opacity: 0.5;

    /* ui-range param */
    --min: 0;
    --max: 100;
    --step: 0.001;
    --suffix: "%";
    --prefix: "全书进度";
    --primary-color: var(--mainColor_focused);
    --progress-background: var(--mainColor);
    /* --value-background: var(--mainColor_focused); */
    --show-min-max: none;
    --value-font: 0.8rem var(--fontFamily_ui);
    --flip-y: 1;
}
.progress-bar:hover {
    opacity: 1;
}
.progress-bar.page-progress {
    --prefix: "";
    --thumb-color: var(--fontInfoColor);
    --primary-color: var(--borderColor);
    --progress-background: var(--borderColor);
}
.progress-bar.page-progress.range-slider>input+output {
    display: none;
}
.progress-bar.range-slider>input+output {
    white-space: nowrap;
    color: var(--fontColor);
    /* color: var(--value-active-color); */
    transform: translateX(-50%) rotate(-90deg) translateX(50%) translateX(calc(var(--thumb-size) * 1));
    --pos: calc((var(--value) - var(--min))/(var(--max) - var(--min)) * (100% - var(--thumb-size)) + var(--thumb-size) / 2);
}
.progress-bar.range-slider>input:hover+output {
    color: var(--value-active-color);
}

/* Footnote */
img.footnote_img {
    width: var(--ui_footnoteImgSize);
    height: var(--ui_footnoteImgSize);
    vertical-align: super;
}
ol#footnote-content {
    visibility: hidden;
    display: none;
}


/* Seal */
div.seal {
    /* text-align: center; */
    margin: 6em 0 6em 0;
    overflow: hidden;
}
img#seal_EN {
    /* float: right; */
    width: var(--seal_width_EN);
    height: auto;
    position: relative;
}
img#seal_CN {
    /* float: center; */
    width: var(--seal_width_CN);
    height: auto;
    position: relative;
}

/* Menu Panel */
.menu-layer {
    z-index: 999;
}
.menu-panel {
    position: absolute;
    width: min-content;
    height: min-content;
    right: 0;
    bottom: 0;
    margin: 1rem;
}
.menu-panel .btn-icon {
    box-shadow: var(--shadowV_args);
    -webkit-box-shadow: var(--webkit-shadowV_args);
    -moz-box-shadow: var(--moz-shadowV_args);
}
/* Dialog */
dialog {
    border-radius: 10px;
    padding: 0px;
    font-family: var(--fontFamily_ui);
    font-size: 1.2rem;
    background-color: var(--bgColor);
    color: var(--ui_foreColor);
    display: grid;
    grid-template-rows: max-content 1fr max-content;
    box-shadow: 0px 0px 10px black;
}

.dlg-cap {
    padding: 0.5rem 0;
    font-size: 1.6rem;
    font-family: title;
    text-align: center;
    overflow: hidden;
    border-bottom: 2px solid var(--borderColor);
}

.dlg-close {
    display: inline-block;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    cursor: pointer;
    text-align: center;
    font-size: 2rem;
    color: var(--bgColor);
    background-color: var(--mainColor_focused);
    border-radius: 20%;
    width: 1.6rem;
    height: 1.6rem;
    line-height: 1.6rem;
}

.dlg-foot {
    padding: 0.5rem 2rem;
    border-top: 2px solid var(--borderColor);
}

.dlg-foot button {
    font-family: ui;
    padding: 2px 10px;
    border: 1px solid var(--ui_foreColor);
    border-radius: 5px;
    font-size: 1.2rem;
    color: var(--bgColor);
    background-color: var(--mainColor_focused);
    cursor: pointer;
}

.dlg-body {
    display: block;
    margin: 0.2rem 1rem;
    overflow-y: scroll;
    scrollbar-gutter: stable both-edges;
    scrollbar-width: thin;
}

.dlg-body input,
.dlg-body select {
    margin: 1px;
    border: 1px solid var(--ui_foreColor);
    font-family: ui;
    font-size: 1.2rem;
    color: var(--ui_foreColor);
    background-color: var(--bgColor);
}

dialog input[type="checkbox"] {
   width: 1rem;
   height: 1rem;
}

input:invalid {
    background-color: pink;
}

#settingDlg {
    color: var(--ui_foreColor);
}

.setting-group .sub-cap {
    color: var(--bgColor);
    background-color: var(--mainColor_focused);
    margin: 1rem 0;
    padding: 0.2rem 1rem;
    text-align: center;
}

.setting-group .setting-group-settings {
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: max-content 1fr;
}

.setting-group .setting-group-settings .row {
    grid-column: 1 / -1;
}

.setting-group#settingMgr_UI .setting-group-settings {
    grid-template-columns: repeat(2, max-content 1fr);
}

.setting-group .hint {
    /* font-size: 0.8em; */
    color: var(--fontInfoColor);
    white-space: normal;
}

/* show line num */
#content>:is(div, h1, h2, p) {
    box-sizing: border-box;
}
#contentLayer[data-show-line-num="true"]>#content {
    /* box-sizing: border-box; */
}
#contentLayer[data-show-line-num="true"]>#content>:is(div, h1, h2, p, span) {
    /* text-indent: 0; */
}
:is(#contentLayer[data-show-line-num="true"], #contentLayer[data-reader-mode="log"])>#content>:is(div, h1, h2, p, span)::before {
    content: "<" attr(data-line-num) ">";
    position: absolute;
    left: 0;
    text-indent: 0;
    transform: translateY(-1.5rem);
    /* opacity: var(--show-line-num, 0); */
    font-family: var(--fontFamily_ui);
    font-size: 0.8rem;
    color: var(--fontInfoColor);
}

/* reader-mode: log */
#contentLayer[data-reader-mode="log"]>#tocPanel {
    display: none;
}
#contentLayer[data-reader-mode="log"]>#content>p {
    font-family: var(--fontFamily_log);
    font-size: 1rem;
    text-align: left;
    text-indent: 0;
    min-height: 0.1rem;
}
