@charset "UTF-8";
@font-face {
    font-family:"ui";
    src:
    local("霞鹜文楷"),
    local("LXGW WenKai"),
    url(../fonts/LXGWWenKai-Regular.woff2) format('woff2');
    font-display: swap;
}
@font-face {
    font-family:"title";
    src:
    local("黄令东齐伋复刻体"),
    local("QIJIC"),
    url(../fonts/qiji-combo.woff) format('woff');
    font-display: swap;
    size-adjust: 125%;
}
@font-face {
    font-family:"body";
    src:local("方正宋刻本秀楷_GBK"), local("FZSongKeBenXiuKai-R-GBK"), local("FZSongKeBenXiuKaiJF"),
    url(../fonts/FZSKBXKK.woff2) format('woff2');
    font-display: swap;
}
/* @font-face {
    font-family:"康熙字典體傳承版";
    src:local("康熙字典體傳承版"),
    url(../fonts/KX_47043_14.woff) format('woff');
    font-display: swap;
} */
/* @font-face {
    font-family:"方正宋刻本秀楷_GBK";
    src:local("方正宋刻本秀楷_GBK"),
    url(../fonts/FZSKBXKK.woff2) format('woff2');
    font-display: swap;
} */

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

:root {
    /* UI variables */
    --ui_LANG: CN;
    /* --ui_contentWidthMin: 400px;
    --ui_contentWidthMax: 1000px;
    --ui_contentWidthPrefer: 70%;
    --ui_contentWidth: clamp(var(--ui_contentWidthMin), var(--ui_contentWidthPrefer), var(--ui_contentWidthMax)); */
    --ui_contentWidth: 70%;
    --ui_numPaginationItems: 9;
    --ui_tocHeight: 50%;
    --ui_dropZoneImgSize: 13em;
    --ui_loadingImgSize: 380px;
    --ui_footnoteImgSize: 12px;

    /* Passage variables */
    --p_lineHeight: 1.5em;
    --p_fontSize: 1.4rem;
    --h1_lineHeight: 1.6em;
    --h1_margin: 2.5em;
    --h2_lineHeight: 1.6em;
    --h2_margin: 1.6em;
    --h3_lineHeight: 1.6em;
    --h3_margin: 1.6em;
    --h4_lineHeight: 1.6em;
    --h4_margin: 1.6em;
    --h5_lineHeight: 1.6em;
    --h5_margin: 1.6em;
    --h6_lineHeight: 1.6em;
    --h6_margin: 1.6em;

    /* LANG vars */
    --ui_title-CN: 易笺﹒改;
    --ui_title-EN: SimpleTextReader-enhance;
    --ui_dropZoneText-CN: txt;
    --ui_dropZoneText-EN: txt;
    --ui_readingProgress-CN: "阅读进度：";
    --ui_readingProgress-EN: "Progress: ";
    --fontFamily_title-CN: title, ui, sans-serif;
    --fontFamily_title-EN: ui, sans-serif;
    --fontFamily_body-CN: body, ui, sans-serif;
    --fontFamily_body-EN: ui, sans-serif;
    --seal_width-CN: 250px;
    --seal_width-EN: 250px;
    --toc_title-CN: 扉页;
    --toc_title-EN: TITLE PAGE;
    --toc_text_begin-CN: - 始 -;
    --toc_text_begin-EN: - BEGIN -;
    --toc_text_end-CN: - 终 -;
    --toc_text_end-EN: - END -;

    /* Font variables */
    --fontFamily_ui: ui, Arial, Helvetica, sans-serif;
    --fontFamily_log: Arial, Helvetica, sans-serif;

    /* lang=CN vars */
    --ui_title: var(--ui_title-CN);
    --ui_dropZoneText: var(--ui_dropZoneText-CN);
    --ui_readingProgress: var(--ui_readingProgress-CN);
    --fontFamily_title: var(--fontFamily_title-CN);
    --fontFamily_body: var(--fontFamily_body-CN);
    --seal_width: var(--seal_width-CN);
    --toc_title: var(--toc_title-CN);
    --toc_text_begin: var(--toc_text_begin-CN);
    --toc_text_end: var(--toc_text_end-CN);

    /* Dark mode variables */
    --darkMode_init_animation: all 0s ease;
    --darkMode_default_animation: all 0.2s ease;
    --darkMode_animation: var(--darkMode_init_animation);

    --pagination_bottom: 30px;
    --pagination_opacity: 1;

    /* Shadow */
    --shadow_args:
        0 0 1px var(--shadowColor),
        0 0 2px var(--shadowColor),
        0 0 4px var(--shadowColor),
        0 0 8px var(--shadowColor),
        0 0 16px var(--shadowColor);
    --webkit-shadow_args:
        var(--shadowColor) 0 0 1px,
        var(--shadowColor) 0 0 2px,
        var(--shadowColor) 0 0 4px,
        var(--shadowColor) 0 0 8px,
        var(--shadowColor) 0 0 16px;
    --moz-shadow_args:
        0 0 1px var(--shadowColor),
        0 0 2px var(--shadowColor),
        0 0 4px var(--shadowColor),
        0 0 8px var(--shadowColor),
        0 0 16px var(--shadowColor);
    --shadowV_args:
        0 1px 1px var(--shadowColor),
        0 2px 2px var(--shadowColor),
        0 4px 4px var(--shadowColor),
        0 8px 8px var(--shadowColor),
        0 16px 16px var(--shadowColor);
    --webkit-shadowV_args:
        var(--shadowColor) 0 1px 1px,
        var(--shadowColor) 0 2px 2px,
        var(--shadowColor) 0 4px 4px, 
        var(--shadowColor) 0 8px 8px,
        var(--shadowColor) 0 16px 16px;
    --moz-shadowV_args:
        0 1px 1px var(--shadowColor),
        0 2px 2px var(--shadowColor),
        0 4px 4px var(--shadowColor),
        0 8px 8px var(--shadowColor),
        0 16px 16px var(--shadowColor);
    --shadowH_args:
        1px 0 1px var(--shadowColor),
        2px 0 2px var(--shadowColor),
        4px 0 4px var(--shadowColor),
        8px 0 8px var(--shadowColor),
        16px 0 16px var(--shadowColor);
    --webkit-shadowH_args:
        var(--shadowColor) 1px 0 1px,
        var(--shadowColor) 2px 0 2px,
        var(--shadowColor) 4px 0 4px,
        var(--shadowColor) 8px 0 8px,
        var(--shadowColor) 16px 0 16px;
    --moz-shadowH_args:
        1px 0 1px var(--shadowColor),
        2px 0 2px var(--shadowColor),
        4px 0 4px var(--shadowColor),
        8px 0 8px var(--shadowColor),
        16px 0 16px var(--shadowColor);

    /* light/dark mode base vars, -0: light mode, -1: dark mode */
    --ui_Mode-0: light;
    --ui_Mode-1: dark;

    --mainColor-0: #6096bb;
    --mainColor-1: #274c77;
    --mainColor_focused-0: #2f5086;
    --mainColor_focused-1: #6096bb;
    --mainColor_filter-0: invert(52%) sepia(93%) saturate(187%) hue-rotate(166deg) brightness(92%) contrast(82%);
    --mainColor_filter-1: invert(22%) sepia(47%) saturate(1327%) hue-rotate(180deg) brightness(91%) contrast(80%);
    --mainColor_focused_filter-0: invert(22%) sepia(47%) saturate(1327%) hue-rotate(180deg) brightness(91%) contrast(80%);
    --mainColor_focused_filter-1: invert(52%) sepia(93%) saturate(187%) hue-rotate(166deg) brightness(92%) contrast(82%);

    --fontColor-0: black;
    /* --fontColor-1: #fdf3df; */
    --fontColor-1: #a0a0a0;
    --fontInfoColor-0: gray;
    --fontInfoColor-1: lightgray;

    /* --bgColor-0: #fdf5e8; */
    /* --bgColor-0: #fdf3df; */
    --bgColor-0: cornsilk;
    --bgColor-1: #0e0e0e;
    --contentBgColor-0: antiquewhite;
    --contentBgColor-1: #111111;

    --borderColor-0: lightgray;
    --borderColor-1: gray;

    --paginationFontColor-0: black;
    --paginationFontColor-1: lightgray;
    --paginationActiveFontColor-0: var(--bgColor-0);
    --paginationActiveFontColor-1: lightgray;

    --shadowColor-0: rgba(0, 0, 0, 0.12);
    --shadowColor-1: rgba(255, 255, 255, 0.12);

    --ui_foreColor-0: black;
    --ui_foreColor-1: #a0a0a0;
    --ui_bgColor-0: #fdf3df;
    --ui_bgColor-1: #111111;

    --modeBtn_Color-0: var(--mainColor_focused-0);
    --modeBtn_Color-1: var(--mainColor-1);
    --modeBtn_borderColor-0: lightgray;
    --modeBtn_borderColor-1: var(--mainColor-1);

    /* light mode vars */
    --ui_Mode: var(--ui_Mode-0);
    --mainColor: var(--mainColor-0);
    --mainColor_focused: var(--mainColor_focused-0);
    --mainColor_filter: var(--mainColor_filter-0);
    --mainColor_focused_filter: var(--mainColor_focused_filter-0);
    --fontColor: var(--fontColor-0);
    --fontInfoColor: var(--fontInfoColor-0);
    --bgColor: var(--bgColor-0);
    --contentBgColor: var(--contentBgColor-0);
    --borderColor: var(--borderColor-0);
    --shadowColor: var(--shadowColor-0);
    --paginationFontColor: var(--paginationFontColor-0);
    --paginationActiveFontColor: var(--paginationActiveFontColor-0);
    --ui_foreColor: var(--ui_foreColor-0);
    --ui_bgColor: var(--ui_bgColor-0);
    --modeBtn_Color: var(--modeBtn_Color-0);
    --modeBtn_borderColor: var(--modeBtn_borderColor-0);
}

[data-theme="dark"] {
    --ui_Mode: var(--ui_Mode-1);
    --mainColor: var(--mainColor-1);
    --mainColor_focused: var(--mainColor_focused-1);
    --mainColor_filter: var(--mainColor_filter-1);
    --mainColor_focused_filter: var(--mainColor_focused_filter-1);
    --fontColor: var(--fontColor-1);
    --fontInfoColor: var(--fontInfoColor-1);
    --layerBgColor: var(--layerBgColor-1);
    --bgColor: var(--bgColor-1);
    --contentBgColor: var(--contentBgColor-1);
    --borderColor: var(--borderColor-1);
    --shadowColor: var(--shadowColor-1);
    --paginationFontColor: var(--paginationFontColor-1);
    --paginationActiveFontColor: var(--paginationActiveFontColor-1);
    --ui_foreColor: var(--ui_foreColor-1);
    --ui_bgColor: var(--ui_bgColor-1);
    --modeBtn_Color: var(--modeBtn_Color-1);
    --modeBtn_borderColor: var(--modeBtn_borderColor-1);
}

[data-lang="EN"] {
    --ui_title: var(--ui_title-EN);
    --ui_dropZoneText: var(--ui_dropZoneText-EN);
    --ui_readingProgress: var(--ui_readingProgress-EN);
    --fontFamily_title: var(--fontFamily_title-EN);
    --fontFamily_body: var(--fontFamily_body-EN);
    --seal_width: var(--seal_width-EN);
    --toc_title: var(--toc_title-EN);
    --toc_text_begin: var(--toc_text_begin-EN);
    --toc_text_end: var(--toc_text_end-EN);
}